@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.recado {
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color: rgb(151, 151, 151);
}

input {
  width: 18rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

button, input{
  height: 2rem;
  border-radius: 8px;
}

button {
  border: none;
}
button:hover {
  background: #999999;
}
button.btn-apagar:active {
  background: red;
}
li {
  margin-top: 10px; 
}